    
    {{#each list}}

    <li>
        <img src="{{avatarURL avatar.thumb}}" class="img-circle"/>
        {{displayName}}
    </li>
    
    {{/each}}

    <li>
        <li class="input"><input type="text" id="select-user-box-input" /></li>
    </li>