<div id="select-user-box-label">
    {{label}}
</div>

<div id="select-user-box-container">
    

    <ul class="list-inline" id="select-user-selected-users">
        
        <li class="input"><input type="text" id="select-user-box-input" /></li>
        
    </ul>
        
    <div class="dropdown" id="select-user-box-dropdown">

        <button id="select-user-box-dropdown-button" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display:none"></button>   

         
        <ul class="dropdown-menu" aria-labelledby="select-user-box-dropdown-button">
            

            
        </ul>

    </div>
    
</div>