    <div id="main-view" class="container-fluid">

        <div class="row" id="main-header">


        </div>


        <div class="row">

            <div class="col-md-3" id="main-conversationlist">



            </div>

            <div class="col-md-9" id="main-conversationview">


            </div>

            <div class="col-md-3" id="main-infoview" style="display:none">

                
                
            </div>
            
        </div>


    </div>

    <script src="{{Config.SpikaBaseURL}}/js/adapter.js"></script>
