@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$headerHeight:    45px;

@import "./startView";
@import "./conversationList";
@import "./selectUserBox";
@import "./mainView";
@import "./infoView";


// global style settings
.spacer {
    margin-top: 20px;
}

*:focus {
    outline: 0;
}
